# dependencies
/node_modules

# expo
.expo
.expo-shared

# production
/build
/dist

# misc
.DS_Store
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
expo-debug.log*

# android
/android/app/build

# ios
/ios/Pods/
/ios/build/